In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('raw_data.csv')
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

## Question 1 fill all missing Value in index 9

In [3]:
fill_values = {
    'id': 210,
    'Employee Full Name': 'Jim Carry',
    'DOB': '1/1/1970',
    'email': 'jim.carry@gmail.com',
    'gender': 'Male',
    'Company': 'Amazon',
    'Country': 'USA',
    'Income.1': '$12349.556',
    'Income.2': 2365 }

df.iloc[9] = fill_values

In [4]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

## Question 2 update email at 6th and 9th index  position

In [5]:
df.at[3, 'email'] = 'graeme.croisier@gmail.com'
df.at[6, 'email'] = 'modesta.batterson@gmail.com'
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

## Question 3  fill Invalid Country name and replace nan value in country columns

In [6]:
country_name= {'UAS': 'USA', 'NaN': 'Canada'}
df['Country'].replace(country_name, inplace=True)
df['Country'].fillna(method='ffill', inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [7]:
import numpy as np

### Q4. make a new column which Consist of Sum of Income1 and Income2

In [8]:
df['Income.1']=df['Income.1'].str.replace("$","")
df

C:\Users\amits\AppData\Local\Temp\ipykernel_1104\4277178757.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Income.1']=df['Income.1'].str.replace("$","")

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [9]:
df['Income.1']=df['Income.1'].replace("",np.nan)

In [10]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            14 non-null     object
 8   Income.2            18 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

In [12]:
df['Income.1']=df['Income.1'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            14 non-null     float64
 8   Income.2            18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [13]:
df['Income.1'].fillna(df['Income.1'].mean(),inplace=True)

In [14]:
df['Income.2'].fillna(df['Income.2'].mean(),inplace=True)

In [15]:
df['Total Income']=np.ceil(df['Income.1']+df['Income.2'])

In [16]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,41244.548961,234.000000,41479.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.495560,1947.000000,59434.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,41244.548961,952.000000,42197.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,41244.548961,32.000000,41277.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,41244.548961,1901.000000,43146.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29729.0
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556000,2365.000000,14715.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,41244.548961,1286.000000,42531.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56931.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,41244.548961,568.000000,41813.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

### Q. Bring DOB in same Format.

In [17]:
df['DOB'] = pd.to_datetime(df['DOB'])

In [18]:
df['DOB'] = df['DOB'].dt.strftime('%d/%m/%Y')

In [19]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,12/02/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene Lutas,20/09/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli Swanbourne,18/11/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,41244.548961,234.000000,41479.0
3,204.0,Graeme Croisier,29/09/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana Physic,19/04/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.495560,1947.000000,59434.0
5,206.0,Anetta Yokelman,26/04/2018,ayokelman5@berkeley.edu,Female,Intel,India,41244.548961,952.000000,42197.0
6,207.0,Modesta Batterson,28/03/2018,modesta.batterson@gmail.com,Female,Intel,India,41244.548961,32.000000,41277.0
7,208.0,Melina Boon,18/12/2017,mboon7@weibo.com,Male,Amazon,India,41244.548961,1901.000000,43146.0
8,209.0,Nomi Warn,16/01/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29729.0
9,210.0,Jim Carry,01/01/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556000,2365.000000,14715.0
10,211.0,Charleen Auden,15/04/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame Povele,26/06/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,41244.548961,1286.000000,42531.0
12,213.0,Jesse Engelbrecht,16/04/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56931.0
13,214.0,Camey Barensen,21/08/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro Sember,08/04/2018,asembere@ibm.com,Male,Google,Russia,41244.548961,568.000000,41813.0
15,216.0,Myrtia Towne,14/02/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay Cakebread,27/09/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta McCutheon,07/01/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin Mitchely,21/05/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda Heistermann,30/10/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

# Q

In [20]:
df[['First Name','Last Name']] =df['Employee Full Name'].str.split(' ',1,expand=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income,First Name,Last Name
0,201.0,Salim Pound,12/02/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0,Salim,Pound
1,202.0,Madelene Lutas,20/09/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0,Madelene,Lutas
2,203.0,Dolli Swanbourne,18/11/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,41244.548961,234.000000,41479.0,Dolli,Swanbourne
3,204.0,Graeme Croisier,29/09/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0,Graeme,Croisier
4,205.0,Jillana Physic,19/04/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.495560,1947.000000,59434.0,Jillana,Physic
5,206.0,Anetta Yokelman,26/04/2018,ayokelman5@berkeley.edu,Female,Intel,India,41244.548961,952.000000,42197.0,Anetta,Yokelman
6,207.0,Modesta Batterson,28/03/2018,modesta.batterson@gmail.com,Female,Intel,India,41244.548961,32.000000,41277.0,Modesta,Batterson
7,208.0,Melina Boon,18/12/2017,mboon7@weibo.com,Male,Amazon,India,41244.548961,1901.000000,43146.0,Melina,Boon
8,209.0,Nomi Warn,16/01/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29729.0,Nomi,Warn
9,210.0,Jim Carry,01/01/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556000,2365.000000,14715.0,Jim,Carry
10,211.0,Charleen Auden,15/04/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0,Charleen,Auden
11,212.0,Dame Povele,26/06/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,41244.548961,1286.000000,42531.0,Dame,Povele
12,213.0,Jesse Engelbrecht,16/04/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56931.0,Jesse,Engelbrecht
13,214.0,Camey Barensen,21/08/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0,Camey,Barensen
14,215.0,Alexandro Sember,08/04/2018,asembere@ibm.com,Male,Google,Russia,41244.548961,568.000000,41813.0,Alexandro,Sember
15,216.0,Myrtia Towne,14/02/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0,Myrtia,Towne
16,217.0,Shay Cakebread,27/09/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0,Shay,Cakebread
17,218.0,Nerta McCutheon,07/01/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0,Nerta,McCutheon
18,219.0,Patin Mitchely,21/05/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0,Patin,Mitchely
19,220.0,Malinda Heistermann,30/10/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0,Malinda,Heistermann

# Q

In [21]:
df = df[['id','First Name', 'Last Name'] + [col for col in df.columns if col not in ['id','First Name', 'Last Name']]]
df

,id,First Name,Last Name,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,Salim Pound,12/02/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene,Lutas,Madelene Lutas,20/09/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli,Swanbourne,Dolli Swanbourne,18/11/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,41244.548961,234.000000,41479.0
3,204.0,Graeme,Croisier,Graeme Croisier,29/09/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana,Physic,Jillana Physic,19/04/2018,jphysic4@yellowbook.com,Female,Accenture,Canada,57486.495560,1947.000000,59434.0
5,206.0,Anetta,Yokelman,Anetta Yokelman,26/04/2018,ayokelman5@berkeley.edu,Female,Intel,India,41244.548961,952.000000,42197.0
6,207.0,Modesta,Batterson,Modesta Batterson,28/03/2018,modesta.batterson@gmail.com,Female,Intel,India,41244.548961,32.000000,41277.0
7,208.0,Melina,Boon,Melina Boon,18/12/2017,mboon7@weibo.com,Male,Amazon,India,41244.548961,1901.000000,43146.0
8,209.0,Nomi,Warn,Nomi Warn,16/01/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29729.0
9,210.0,Jim,Carry,Jim Carry,01/01/1970,jim.carry@gmail.com,Male,Amazon,USA,12349.556000,2365.000000,14715.0
10,211.0,Charleen,Auden,Charleen Auden,15/04/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame,Povele,Dame Povele,26/06/2018,dpoveleb@bloglovin.com,Male,Amazon,USA,41244.548961,1286.000000,42531.0
12,213.0,Jesse,Engelbrecht,Jesse Engelbrecht,16/04/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56931.0
13,214.0,Camey,Barensen,Camey Barensen,21/08/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro,Sember,Alexandro Sember,08/04/2018,asembere@ibm.com,Male,Google,Russia,41244.548961,568.000000,41813.0
15,216.0,Myrtia,Towne,Myrtia Towne,14/02/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay,Cakebread,Shay Cakebread,27/09/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta,McCutheon,Nerta McCutheon,07/01/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin,Mitchely,Patin Mitchely,21/05/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda,Heistermann,Malinda Heistermann,30/10/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

# Q

In [22]:
avg_salary= df.groupby(['Country', 'Company'])['Total Income'].mean()
print(avg_salary)

Country  Company
Canada   Accenture    53438.000000
         Amazon       56931.000000
         Google       44238.000000
India    Amazon       39417.000000
         Google       49924.666667
         Intel        41737.000000
Russia   Amazon        9054.000000
         Google       41813.000000
         Intel        45032.000000
USA      Accenture    48040.000000
         Amazon       35467.500000
         Intel        41479.000000
Name: Total Income, dtype: float64